<div class="pay-container">
  <div class="congrats">
		<h1>Congratulations!</h1>
		<div class="done">
      <i class="fa-solid fa-circle-check"></i>
		</div>
		<div class="text">
		  <p>Your payment was processed succesfully.</p>
		</div>
		<p class="regards">Regards, Team Hometastic</p>
	</div>
</div>

<%= link_to "Back to Dashboard", dashboard_path %>
