<div class="message-container ml-4" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.first_name %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p class= "message-content"><%= message.content %></p>
</div>
