
<div class="chat-container">
  <div class="cards-window">
    <div class="title-container text-left f22">
      <strong>Chats</strong>
    </div>

  </div>
  <div class="messages-window">
    <div class="title-container text-left f22">
      <strong>Patrick</strong>
    </div>
  </div>

</div>
