<div class="booking-form">
        <label>flying from</label>
        <input type="text" class="form-control" placeholder="city or airport">
        <label>flying to</label>
        <input type="text" class="form-control" placeholder="city or airport">
  </div>
