<html>
  <head>
  <title>Booking</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div>
 <div class="container">
    <label>Month</label>
    <input type="date" class="form-control select-date">

</div>
 <div class="container">
    <label>Month</label>
    <input type="date" class="form-control select-date">
</div>
