
<!--Homepage button-->
<button type="button" class="btn-home rounded-pill border-0 shadow">Find a flat</button>

<!--Lightblue button-->
<button type="button" class="btn-lb rounded-pill border-0">Lightblue button</button>

<!--Darkblue button-->
<button type="button" class="btn-db rounded-pill border-0">Darkblue button</button>

<!--BlackWhite button-->
<button type="button" class="btn-bw btn-outline-dark">BlackWhite button</button>

<!--Small button-->
<button type="button" class="btn-small rounded-pill border-0">Small button</button>

