<!--Homepage button-->
<button type="button" class="btn-home btn-primary rounded-pill border-0 shadow">Find a flat</button>

<!--Lightblue button-->
<button type="button" class="btn-lb btn-primary rounded-pill border-0">Lightblue button</button>

<!--Darkblue button-->
<button type="button" class="btn-db btn-primary rounded-pill border-0">Darkblue button</button>

<!--BlackWhite button (not done yet)-->
<button type="button" class="btn-bwb btn-outline-dark rounded">BlackWhite button</button>
