
<div class="container">
  <div class="chat-bub">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
    <div class="chat-info">
      <p>Diana <span class="selected-color">Berlin</span></p>
      <p>Request Made</p>
      <p><span class="message-info selected-color">Last Message 14 Dec 2021</span></p>
    </div>
  </div>
</div>
