
<div class="container">
  <div class="chat-bub">
    <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer"/>
      <div class="chat-info">
        <p>Diana <em class="selected-color">Berlin</em></p>
        <p>Request Made</p>
       </div>

        <div class="message-info">
          <p>Last Message</p>
          <p>14 Dec 2021</p>

        </div>




  </div>

</div>
