<%# <div class="container">
  <div class="chat-bub">
   <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer"/>
    <div class="chat-info">
      <div class="name-info">
        <p>Diana Berlin</p>
        <p>Request Made</p>
      </div>
      <div class="Message-details">
        <p class="note">Last Message</p>
        <p>21 Oct 2022</p>
      </div>
    </div>

  </div>

</div> %>

<div class="container">
  <div class="chat-bub">
    <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer"/>
      <div class="chat-info">
        <p>Diana <em class="light-color">Berlin</em></p>
        <p>Request Made</p>
       </div>

        <div class="message-info">
          <p>Last Message</p>
          <p>14 Dec 2021</p>

        </div>




  </div>

</div>
