<div class="confirm-form-container">
  <form action= <%=pay_booking_path(@booking)%> method='get'>
    <label class="string optional" for="credit_card_number">Credit Card Number</label>
    <input class="form-control string optional" type="text" name="credit_card_number" id="credit_card_number" required>

    <label class="string optional" for="expiracy_date">Expiracy Date</label>
    <input class="form-control string optional" type="text" name="expiracy_date" id="expiracy_date" required>


    <label class="string optional" for="cvv">CVV</label>
    <input class="form-control string optional" type="text" name="cvv" id="cvv" required>

    <input type="submit" name="commit" value="Pay" data-disable-with="pay" class="btn-small rounded-pill border-0">
  </form>
</div>
