
<div class="container">
  <div class="card-product">
    <%= cl_image_tag booking.flat.user.photo.key, input_html: {class: "avatar-large"} %>
    <%# <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> %>
    <div class="flex space-between">
      <div class="card-product-infos">
        <h2 class="purple">Marcy, Berlin</h2>
        <H2 id="spacing">May, 2022</H2>
        <div class="flex">
          <div class="flex extra-margin">
            <%= image_tag "logo.png", class: 'log' %>
            <p>14 swaps</p>
          </div>
          <div class="flex">
            <%= image_tag "star.png", class: 'log' %>
            <p>10 reviews</p>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn-bd rounded-pill border-0">Accept</button>
        <button type="button" class="btn-bd rounded-pill border-0">Decline</button>
      </div>
    </div>

  </div>
 </div>
