<div class="container">
  <div class="summary">
    <h2 class="f20 space">Flat Summary</H1>
    <div class="rating">
     <i class="fas fa-medal"></i>
     <p>Great Job!</p>
    </div>
    <p> Your flat overall rating is:</p>
  <div class="rating 1">
  <i class="fas fa-star"></i>
   <p>4.7</p>

  </div>
  <div class="swap">
    <h2 class="f20">Your swaps<h2>
    <p class="swap-info">2022</p>
    <p class="swap-info">Total</p>
    <p class="swap-info">2</p>
    <p class="swap-info">7</p>
  </div class="Overall">
    <p>Overall Rating</p>
    <p>Total Reviews</p>
    <p>Views to your flat</p>

  <div>

  </div>


</div>
