<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>menu design</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/8116391e1d.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
      <div class="footer">
        <div>
          <i class="far fa-envelope"></i>
          <span><i class="far fa-envelope"></i></span>
        </div>
        <div>
          <i class="fab fa-twitter"></i>
          <span><i class="fab fa-twitter"></i></span>
        </div>
        <div>
          <i class="fa-brands fa-instagram-square"></i>
          <span><i class="fa-brands fa-instagram-square"></i></span>
        </div>
          <div>
            <i class="fa-brands fa-facebook-square"></i>
            <span><i class="fa-brands fa-facebook-square"></i></span>
          </div>

      </div>

    </div>
  </body>


</html>
