<div>
  <div class="footer">
    <div>
      <i class="far fa-envelope transparency"></i>
      <span><i class="far fa-envelope"></i></span>
    </div>
    <div>
      <i class="fab fa-twitter transparency"></i>
      <span><i class="fab fa-twitter"></i></span>
    </div>
    <div>
      <i class="fa-brands fa-instagram-square transparency"></i>
      <span><i class="fa-brands fa-instagram-square"></i></span>
    </div>
    <div>
      <i class="fa-brands fa-facebook-square transparency"></i>
      <span><i class="fa-brands fa-facebook-square"></i></span>
    </div>

  </div>

</div>
