
      <div class="footer">
        <div>
          <i class="far fa-envelope"></i>
          <span><i class="far fa-envelope"></i></span>
        </div>
        <div>
          <i class="fab fa-twitter"></i>
          <span><i class="fab fa-twitter"></i></span>
        </div>
        <div>
          <i class="fa-brands fa-instagram-square"></i>
          <span><i class="fa-brands fa-instagram-square"></i></span>
        </div>
          <div>
            <i class="fa-brands fa-facebook-square"></i>
            <span><i class="fa-brands fa-facebook-square"></i></span>
          </div>

      </div>

    </div>
