

 </div>
    <div class="container">
      <div class="search-bar">
        <form>
          <div class="location-input">
            <label>Location</label>
            <input type="text" placeholder="Where are you going">
          </div>
            <div>
              <label>Month</label>
              <input type="text" placeholder="Add Month">
            </div>
            <div>
              <label>Year</label>
              <input type="text" placeholder="Year">
            </div>
            <button type="submit">
              <img src="" alt="">
            </button>


        </form>


      </div>
