<div class="container">
  <div class="user-summary">
    <h2>Details</h2>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpnrZetWNKNWxEsmOf2sgLOz20RBeOL-UY5g&usqp=CAU">
    <div class="flat-gal">
      <img src="https://images.unsplash.com/photo-1464890100898-a385f744067f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmxhdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60">
      <img src="https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZsYXR8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60">
      <img src="https://media.istockphoto.com/photos/modern-living-room-interior-with-green-plants-sofa-and-green-wall-picture-id1318472213?k=20&m=1318472213&s=612x612&w=0&h=LEukWulw4cRCRUW-UZtDrVAshWhTJjPtRUSTadix9lw=">
      <img src="https://media.istockphoto.com/photos/university-dorm-room-picture-id1335437537?k=20&m=1335437537&s=612x612&w=0&h=CQp9qgV9Z2NylFeLpDxDIESSOqanr0H2qwWxu4Qb2N0=">
    </div>
    <div class="details">
      <i class="fas fa-book-open"></i>
      <p>Lives in Berlin</p>
    </div>
      <div class="details">
        <i class="fas fa-user"></i>
        <p>Jennifer Lopez</p>
      </div>
      <div class="details">
        <i class="fas fa-star"></i>
        <p>4.8</p>
      </div>
       <div class="details">
        <i class="fas fa-id-badge"></i>
        <p>Member since Aug 2021</p>
      </div>
        <div class="details">
         <i class="fas fa-infinity"></i>
         <p>Member since Aug 2021</p>
        </div>


  </div>
</div>
