
body {
  background: #fff;
}

.noDeco{
  text-decoration: none!important;
}

.f14 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.f14W {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.f16 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.f18 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.f20 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
}

.f24 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
}

.f26 {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
}

.f28 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #597FCA;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.mPage {
  margin: 70px;
}


.imgContainer{
  display: flex;
  justify-content: center;
}

.mainImage {
  width: 550px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.secondaryImage {
  width: 260px;
  height: 195px;
  object-fit: cover;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
  margin-left: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 10px;

}

.amenitiesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
}

.pL2 {
  padding-left: 90px;
}


.pT {
  padding-top: 60px;
}

.pT2 {
  padding-top: 20px;
}

.pB {
  padding-bottom: 40px;
}

.pB30 {
  padding-bottom: 30px;
}


.pTB30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.w250 {
  width:290px;
  height: 400px;
}

.wAmenities {
  width:750px;
  align-items: left;
}

.mLR{
  margin-left: 70px;
  margin-right: 70px;
}

.titleFlex{
  display: flex;
  justify-content: space-between;
}

.formFlex{
  display: flex;
  justify-content: end;
}

.show{
  visibility: visible;
}

.hide{
  visibility: hidden;
}

.m0{
  margin: 0;
}

.borderB{
  border-bottom: 1px solid #c4c4c4;
}


// QUESTI SONO I PIU IMPORTANTIIIIII

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
