
body {
  background: #fff;
}

.noDeco{
  text-decoration: none!important;
}

.noDeco2{
  text-decoration: none!important;
  &:hover{
    color: #3F3F46;
  }
}

.noDeco3{
  text-decoration: none!important;
  &:hover{
    background-color: #597FCA;
    color: white;
  }
}

.f14 {
  font-size: 14px!important;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.f13W {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.f14W {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.f16 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.f18 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.f20 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
}

.f24 {
  font-size: 24px!important;
  font-family: 'Roboto', sans-serif!important;
  color: #3F3F46;
  margin: 0;
}

.f26 {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
}

.f28 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #597FCA;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.purple-p {
  color: #7a96d8;
}

.f28L {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
  font-weight: bold;
}


.f28b {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.f32 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
  margin: 0;
}

.mPage {
  margin: 70px;
}


.imgContainer{
  display: flex;
  justify-content: center;
  margin-left: -16px;
}

.mainImage {
  width: 550px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.secondaryImage {
  width: 260px;
  height: 195px;
  object-fit: cover;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
  margin-left: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 10px;

}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 10px;
  margin-left: -20px;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px 10px;
  margin-left: -20px;
}



.amenitiesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
}
.p0{
  margin:0!important;
}
.pL2 {
  padding-left: 90px;
}

.pL {
  padding-left: 40px;
}


.pR {
  padding-right: 20px;
}


.pT {
  padding-top: 60px;
}

.pT2 {
  padding-top: 20px;
}

.pT3 {
  padding-top: 10px;
}

.pT4 {
  padding-top: 80px;
}

.pB {
  padding-bottom: 40px;
}
.pB10 {
  padding-bottom: 10px;
}

.pB30 {
  padding-bottom: 30px;
}
.pT5{
  margin-bottom: 3px!important;
  margin-right:-5px;
}

.pT5b{
  margin-bottom: 3px!important;
}

.pTB30 {
  margin-bottom: 30px!important;
  margin-top: 30px!important;
}

.pLR {
  padding-right: 10px;
  padding-left: 15px;

}


.w250 {
  width:290px;
  height: 400px!important;
}

.wAmenities {
  width:750px;
  align-items: left;
}

.mLR{
  margin-left: 70px;
  margin-right: 70px;
}

.titleFlex{
  display: flex;
  justify-content: space-between;
}

.formFlex{
  display: flex;
  justify-content: end;
}

.bookingFlex{
  display: flex;
  justify-content: space-between;
  align-items: top!important;

}

.show{
  visibility: visible;
}

.hide{
  visibility: hidden;
}

.m0{
  margin: 0;
}

.borderB{
  border-bottom: 1px solid #c4c4c4;
}

.borderR{
  border-radius: 25px!important;
  height:40px!important;
}

.mB{
margin-bottom: 32px;
}

.mB1{
margin-bottom: 20px;
padding-bottom: 30px;
}

.mR{
margin-right: 24px!important;
}

.mB124{
margin-bottom: 124px;
}

.mB176{
margin-bottom: 176px;
}

.mB176{
margin-bottom: 176px;
}

.mBPay{
  margin-bottom: -12px;
}


.marginMess{
  margin-left:72px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 72%;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.marginCurr{
  padding-bottom: 20px;
  padding-left: 20px;
  width: 215%;
  border-bottom: 1px solid #c4c4c4;
  margin-left: -71px;
}

.Mle{
  margin-left: 68px;
}

.map{
  height: 520px;
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
  border-radius: 3%;

}

.alignC{
text-align: left;
}

.pAcceptDecline{
  margin: 0 0 0 80px;
}

.widthSend{
  width:20%;
  padding-left: 15px;
  padding-right: 15px;

}

.pAddDates{
  padding-top:5px;
}

.wForm{
  width:175px;
}

.wConfirm{
  width:100%!important;
}



// QUESTI SONO I PIU IMPORTANTIIIIII

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
