<% if month.taken %>
  <p class="py-1 px-1 btn-sb rounded-pill border-0 f14W mt-3 ml-1">
  <%= month.month_year.to_date.strftime("%b %y") %>
  </p>
<% else  %>
  <p class="py-1 px-1 btn-db rounded-pill border-0 f14W mt-3 ml-1">
  <%= month.month_year.to_date.strftime("%b %y") %>
  </p>
<%end %>
