<div class="cards">
  <% @flats.each do |flat| %>
    <%=link_to flat_path(flat) do%>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%=flat.city %></h2>
            <p><%=flat.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%=flat.price.to_s + " $/hour"%></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>

