<div class="banner">
   <div class="home-container">
    <p class="headerTitle">Work remotely from <br><span style="color: #fff;">anywhere</span> </p>
    <p class="f18 mb-5 mt-4">Swap your flat by month, pay rent-price difference only! </p>
    <%= link_to "Find a flat", flats_path, class: "btn-home" %>
  </div>
</div>
