<div class="banner">
   <div class="home-container">
    <p class="headerTitle">Work remotely from <br><span style="color: #fff;">anywhere</span> </p>
    <p class="btn-home">Find a flat</p>
  </div>
</div>
