.amenity-form-container {
  max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: 'Roboto', sans-serif;
}

.amenity {
  color: #D4D4D8;

}

.span-size {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.amenity:hover {
  color: #2c364c;
}

.selected {
  color: #2c364c;
}
