.booking-show-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.picture {
  height: 600px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 12px 15px 20px 0 rgba(46,61,73,.3);
}

.city {
  font-size: 52px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.description {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.flat-details {
  border-radius: 8px;
  margin-top: -52px;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
