//Homepage button
.btn-home {
  width: 280px;
  height: 72px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #94B3FD;
}

.btn-home:hover {
  background-color: #87a6ee;
  -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.btn-home:active {
  background-color: #7a96d8;
}

//Lightblue button
.btn-lb {
  width: 256px;
  height: 40px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  color: #FFFFFF;
  background-color: #94B3FD;
}

.btn-lb:hover {
  background-color: #87a6ee;
}

.btn-lb:active {
  background-color: #7a96d8;
}

//Darkblue button
.btn-db {
  width: 256px;
  height: 40px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  color: #FFFFFF;
  background-color: #2C364C;
}

.btn-db:hover {
  background-color: #202838;
}

.btn-db:active {
  background-color: #151a24;
}

//BlackWhite button
.btn-bw {
  width: 176px;
  height: 48px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  border-radius: 8px;
  border-width: thin;
  background-color: white;
}

.btn-bw:active {
  background-color: rgb(29, 29, 29) !important;
}

//Small button
.btn-small {
  width: 88px;
  height: 26px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2C364C;
}

.btn-small:hover {
  background-color: #202838;
}

.btn-small:active {
  background-color: #151a24;
}
