

.summary {
  align-items: center;
  background-color: white;
  width: 270px;
  height: 100%;
  padding: 10px;
  border-radius: 15px;



}

.swap-info {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}
.rating{
  margin-right: 10px;
  display: flex;
  padding: 8px 8px 0 8px;
}

.fas.fa-medal{
  color: green;
}

.fas.fa-star{
  color:#94B3FC;
}

 .space{
  margin-top: 10px;
  margin-bottom: 16px;
}

 .borderB{
    border-bottom: 1px solid lightgray!important;

 }

 .year{
   display: flex;
   justify-content: space-between;
  }

 .swap-2{
   margin-left:auto;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   color: #3F3F46;
 }

 .between-space{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-right: 10px;
 }

 .star-rating{
   display: flex;
   justify-content: center;
 }

 .overall-rating{
   display: flex;
   align-items: center;
   p{
     margin-bottom: 0;
   }
 }
