#messages {
  overflow-y: auto;
  height: 80%;
}

.message-container {
  display: flex;
  flex-flow: column wrap;
  padding:0 10px;
}

.message-content {
  margin-left: 43px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #3F3F46;
}

.user-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #2c2c31;

}

.widthChat{
  width:74%;
}
