.location-input {
  flex: 1;
}

.search-bar{
  background-color: #dee2e6;
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}

.search-bar form {
  width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-bar form input {
  display: block;
  //border: 0;
  outline: none;
  background: transparent;
}

.search-bar form button{
  background: #94B3FC;
  width: 36px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 4px;
}

.form-control{
  margin-bottom: 5px;
  margin-right: 10px;
}

.search-bar form label {
  font-weight: 600;
}

.searchflex {
  align-items: center;
  width: 100%;
}

.dateflex {
  display: flex;
}

.ap-input-icon.ap-icon-pin {
  display: none;
}

.searchbarflex {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.form-group.string.required.search_start_month, .form-group.string.required.search_end_month {
  margin-bottom: 0
}

.simple_form.search {
  width: 100%;
}

.datepicker, .form-control.ap-input {
  margin-bottom: 0%;
  background-color: #DEE2E6!important;
}

.fas.fa-search {
  padding: 8px;
}

button.BtnSearch {
  margin-bottom: 5px;
}
button.BtnSearch:hover {
  background-color: #87a6ee;
  color: white;
}

.borderHover {
    &:hover{border-bottom: 2px solid #2C364C!important;}
}

