h5 {
    display: inline-block;
}
h2 {
    text-align: center;
  }
.btn_index {
  margin-left: 15px;
}

.display-available {
  width: 174px;
  height: 45px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.1);
  border: 0.9px solid #2C364C;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4px;
}

/* Show all 13 amenities */
